<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andersen.fitnesswithfriends">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/N1">
        <activity
            android:name=".home"
            android:label="Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".schedule"
            android:label="Schedule" />
        <activity
            android:name=".talk"
            android:label="Talk" />
        <activity
            android:name=".scheduleChose"
            android:label="Select Type" />
        <activity
            android:name=".scheduleRunLevel"
            android:label="Select Level" />
        <activity
            android:name=".scheduleRunDay"
            android:label="Select Day">
        </activity>
    </application>

</manifest>